# Backend
backend/myenv/
backend/__pycache__/
backend/db.sqlite3
backend/*.pyc
backend/.env

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env
 
.DS_Store
backend/apiview/orm1/venv/
.env
